{
  "extends": "eslint:recommended",
  "plugins": [],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["warn", "always"],
    "comma-dangle": ["warn", "always"],
    "comma-spacing": "warn",
    "array-bracket-spacing": "warn",
    "object-curly-spacing": ["error", "always"],
    "eqeqeq": "warn",
    "no-cond-assign": ["warn", "always"],
    "no-unused-vars": "warn",
    "no-console": "warn",
    "brace-style": ["warn", "1tbs"],
    "strict": ["error", "safe"]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  }
}